*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/slike/pozadina.png);
    background-attachment: fixed;
}

.slike1 img{
  display: block;
  width: 100%;
  padding:10px;
}
.dropdown-menu ul {
    list-style: none;
    padding: 0;
  }

  .dropdown-menu.show {
    display: flex;
  }

  .dropdown-menu li .dropdown-item {
    color: rgb(255, 255, 255); /*boja teksta*/
    font-size: 1em;
    padding: 0.5em 1em;
  }

  .dropdown-menu {
    text-decoration: none;
    font-family: Lora;
    border: none;
    border-radius: 0;
    padding: 0.7em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }

  .navbar-dark .navbar-nav a.nav-link {
    text-decoration: none;
    font-family: Lora;
    color: #ffffff; /*tekst unutar navigacije*/
    font-size: 1.1em;
  }

  @media only screen and (max-width: 992px) {
    .dropdown:hover .dropdown-menu {
      max-height: 350px;
      overflow-y: scroll;
    }
  }

.nav-link:hover {
    background: #c1df8a;
}

.dropdown-item:hover {
    background: #c1df8a !important;
}


.Kontener {
    width: 80%;
}

.Foot {
    width: 100%;
    text-align: center;
    background-color: #98c446;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0px;
}

.Foot a {
    text-decoration: none;
    color: aliceblue;
    font-family: Lora;
}

.Sadrzaj {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 0px;
    background-color: #dbd0b4f3;
    text-align: center;
}

.Sadrzajcajevi {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 0px;
    background-color: #dbd0b4f3;
    text-align: center;
}

.Sadrzaj h1 {
    font-family: Lora;
    font-style: normal;
    padding: 30px;
    color: #263b00;
}

.sad {
    padding: 20px;
    font-family: Lora;
    font-style: normal;
    text-align: left;
    color: #334e00;
}


.Slika1 {
    display: block;
    width: 100%;
}

.sad1 {
    margin: 10px;
    padding: 10px;
    font-family: Lora;
    font-style: normal;
    text-align: left;
    color: #334e00;
    display: block;
    background-color: #d4c5a2;
    border-radius: 10px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
    margin-inline: auto;
    max-width: 100%;
    background: #dbd0b4f3;
    padding: 1vh;
}

 .gallery > img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: all 0.3s ease;
}

.gallery:has(img:hover) img:not(:hover) {
    scale: 0.9;
    opacity: 0.5;
    filter: grayscale(70%);
    transition: 0.5s;
}
.Sadrzaj h2 {
    font-family: Lora;
    font-style: normal;
    padding: 30px;
    color: #263b00;
}

.Sadrzaj h4 {
  font-family: Lora;
  font-style: normal;
  padding: 0px;
  color: #263b00;
}


.Mapa{
    width: 70%;
    align-content: center;
}

.Mapa:hover {
    width: 75%;
    transition: 1s;
}

.gallery {
	width: 90%;
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
	justify-content:center;
	align-items: center; 
}

/* Styling Particular Image */
.gallery-img {
	width: 200px;
	height: 200px;
	cursor: pointer;
	transition: transform 0.2s;
}
/* onHover image will expand little bit */
.gallery-img:hover {
	transform: scale(1.1);
	cursor: zoom-in;
}
/* This section will be seen when we click on image */
.image-popup-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

/* close button when we want to close the bigger image */
.close-button {
	position: absolute;
	top: 40px;
	right: 50px;
	font-size:60px;
	color: #fff;
	cursor: pointer;
}
.close-button:hover{
	color: rgb(156, 156, 156);
}

/* when we click on the image it will expand in bigger size and will displayed 
at middle of screen */
#popupImage {
	display: block;
	max-width: 80%;
	max-height: 80%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Making images more responsive for smaller size device */
@media (max-width:670px) {
	.gallery{
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 10px;
	}
	.gallery-img{
		width:150px;
		height: 150px;
	}

	.heading{
		font-size: 20px;
	}
}

#clock {
	font-size: 20px;
	margin: 20;
  color: #263b00;
	font-family: Lora;
}

